//landing width
$basic-lp-width: 1100px;

//fonts famliy
$font-n24: "Open Sans";
$font-nn: "Rajdhani";
$font-basic: "Roboto";
$font-secondary: "Dosis";
//font size
$basic-font-size: 16px;

//colors
$color-main: #6a737a; //gray
$color-main-bg: #79848a;

//colors
$color-main-font: #fff;
$color-header-font: #6a737a;

$color-main: #373b46; //gray