doctype html
html
  head
    title Time Loger
    link(rel="stylesheet" type="text/css" href="assets/css/style.min.css")
    //if lt IE 7
    link(rel="stylesheet" type="text/css" href="all-ie-only.css")

  body#app
    header.container
      br
      .well
        h1 Time loger
        p.lead Click button to add new tasks to list
        form.form-horizontal
          .form-group
            .col-sm-9
              input#task-title.form-control(value="" type="text" placeholder="Task title")
            .col-sm-3
              a.btn.btn-block.btn-primary.js-add-task(href="#" role="button") Add Task
          .form-group
            .col-sm-9
              textarea#task-description.form-control(value="" rows="3" placeholder="Task description")
        
    section.container
      #task-list.list-group
        .list-group-item.js-task
          .list-group-item-heading.clearfix
            h2.pull-left Task 1
            h4.pull-right
              .label.label-success
                time(datetime="2017-11-4T12:00") 2017-11-4 12:00
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia ab impedit, quos autem sequi molestiae in eaque. Provident ducimus incidunt aliquid illo! Commodi cupiditate necessitatibus placeat nobis, tenetur magni consequatur tempora quibusdam ducimus nostrum voluptatem, sapiente perferendis. Quidem maiores nobis, quo ex, sunt, fugit inventore porro, commodi unde beatae praesentium?
          a.btn.btn-danger.btn-sm.js-finish-task(href="#" role="button") Finish Task

    //- section.main
    //-   article.loger
    //-     button.loger__btn.btn__add.js-add-task Add Task
    //-     section#loger-list.loger__list
    //-       article.loger__task
    //-         header.loger__task-header.js-task-header Task 1
    //-         section.loger__task-body
    //-           time.loger__task-time.loger__task-time_start(datetime="2017-11-4T12:00") 2017-11-4 12:00
    //-           time.loger__task-time.loger__task-time_finish(datetime="2017-11-4T14:00") 2017-11-4 12:00
    //-         footer
    //-           button.loger__task-btn.js-task-btn Finish Task



    footer.footer
      
    script(src="assets/js/app-bundle.min.js")

